<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/akun.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>

    <!-- SIDEBAR -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">VendorVault</span>
                    <span class="profession">Effortless Commerce</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <!-- <li class="search-boxs">
                        <i class='bx bx-search icon'></i>
                        <input type="search" placeholder="Search...">
                </li> -->
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-user-account icon' ></i>
                            <span class="text nav-text">Account</span>
                        </a>
                    </li>
                </ul>
<!-- 
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Notification</span>
                        </a>
                    </li>
                </ul> -->
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-collection icon' ></i>
                            <span class="text nav-text">Data Barang</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Riwayat</span>
                        </a>
                    </li>
                </ul>
                

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-doughnut-chart icon'></i>
                            <span class="text nav-text">Graph</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>
    
    
<!-- BAGIAN isi -->
    <div class="card">

        <div class="card-body card-color">
            <h5 class="card-title">Accounts</h5>
            <div class="hr-horizontal"></div>
            <div class="search-container">
                <div class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" id="searchInput" placeholder="Search.." />
                </div>
                
                <div class="info-barang">
                    <button><i class='bx bx-plus'></i>Tambah Akun</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ari</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td class="color">2</td>
                        <td>Danang</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Ifzal</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Mawla</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>Dafa</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>Lexy</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>Haidar</td>
                        <td>email@gemil.com</td>
                        <td>*******</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>

</body>
</html>