<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="assets/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/dashboard-admin.css" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>Admin Dashboard</title>
</head>
<body>


    <nav class="sidebar close">
    <section>
        <div class="image-text">
            <span class="image">
                <img src="/images/logo.png" alt="logo">
            </span>

            <div class="text header-text">
                <span class="name">VendorVault</span>
                <span class="profession">Effortless Commerce</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </section>

    <div class="menu-bar">
        <div class="menu">
            
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/admin/dashboard">
                        <i class='bx bx-home icon' ></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
            </ul>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/admin/users">
                        <i class='bx bxs-user-account icon' ></i>
                        <span class="text nav-text">Account</span>
                    </a>
                </li>
            </ul>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/admin/transaction-history">
                        <i class='bx bx-detail icon' ></i>
                        <span class="text nav-text">Order Record</span>
                    </a>
                </li>
            </ul>
            

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/admin/graph">
                        <i class='bx bxs-doughnut-chart icon'></i>
                        <span class="text nav-text">Graph</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="bottom-content">
            <div class="hr-horizontal"></div>
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
        </div>

    </div>
</nav>


    <header class="header__container">
        <div class="header__content">
            <div class="hr-horizontals"></div>
            <h2>Admin Dashboard</h2>
            <h1>
            Kelola Penjualan &<br /><span class="h1__span-1">Stok</span>
            <span class="h1__span-2">dengan Kendali Penuh</span>
            </h1>
            <p>
            Dari pemantauan transaksi hingga pengelolaan inventaris, 
            Admin Dashboard kami menyediakan semua alat yang Anda butuhkan 
            untuk mengelola bisnis dengan efisien. Mari tingkatkan produktivitas 
            dan kelancaran operasi bisnis bersama
            </p>
            <div class="header__btn">
            <button class="btn">Learn More</button>
            </div>

            <div class="header__bar">
            Copyright © VendorVault. All rights reserved.
            </div>
        </div>
        <div class="header__image">
            <img src="/images/admin.png" alt="header" />
        </div>
    </header>

    <script src="/javascripts/script.js"></script>
</body>
</html>
