<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/grafik.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">VendorVault</span>
                    <span class="profession">Effortless Commerce</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/dashboard">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/users">
                            <i class='bx bxs-user-account icon' ></i>
                            <span class="text nav-text">Users</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/transaction-history">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Order Record</span>
                        </a>
                    </li>
                </ul>
                

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/graph">
                            <i class='bx bxs-doughnut-chart icon'></i>
                            <span class="text nav-text">Graph</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>
    
    <section class="card">

        <div class="container-card">
            <div class="chart-card">
                <div class="jdl">
                    <span>Analisis Penjualan Berdasarkan Bulan</span>
                    <div class="hr-horizontals"></div>
                    <input type="hidden" id="topSalesMonth" value="<%= salesData %>">
                </div>
                <canvas id="barchart" width="700" height="500"></canvas>
            </div>
    
            <div class="chart-card">
                <div class="jdl">
                    <span>Analisis Penjualan Berdasarkan Event</span>
                    <div class="hr-horizontals"></div>
                    <input type="hidden" id="topSalesEvent" value="<%= salesDataEvent %>">
                </div>
                <canvas id="doughnut" width="700" height="500"></canvas>
            </div>
            
            <div class="chart-card">
                <div class="jdl">
                    <span>Analisis Penjualan Berdasarkan Hari</span>
                    <div class="hr-horizontals"></div>
                    <input type="hidden" id="topSalesDay" value="<%= salesDataDay %>">
                </div>
                <canvas id="myChart" width="700" height="500"></canvas>
            </div>

            <div class="chart-card">
                <div class="jdl">
                    <span>Analisis Penjualan Produk Terlaris</span>
                </div>
                <div class="hr-horizontals"></div>
                <input type="hidden" id="bestSellerDatas" value="<%= bestSellerDatas %>">
                <canvas id="radar" width="700" height="500"></canvas>
            </div>
        </div>
        
    </section>

    <script src="/javascripts/chart1.js" defer></script>
    <script src="/javascripts/chart2.js" defer></script>
    <script src="/javascripts/chart3.js" defer></script>
    <script src="/javascripts/chart4.js" defer></script>

    <script src="/javascripts/script.js" defer></script>
</body>
</html>