<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Transaksi</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/riwayat.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>

    <!-- SIDEBAR -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">VendorVault</span>
                    <span class="profession">Effortless Commerce</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-user-account icon' ></i>
                            <span class="text nav-text">Account</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-collection icon' ></i>
                            <span class="text nav-text">Item Data</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Order Record</span>
                        </a>
                    </li>
                </ul>
                

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-doughnut-chart icon'></i>
                            <span class="text nav-text">Graph</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>
    
    
<!-- BAGIAN isi -->
    <div class="card">

        <div class="card-body card-color">
            <h5 class="card-title">Riwayat Transaksi</h5>
            <div class="hr-horizontal"></div>
            <div class="search-container">
                <div class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" id="searchInput" placeholder="Search.." />
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID Transaksi</th>
                        <th scope="col">Nama Kasir</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Waktu</th>
                        <th scope="col">Nama Barang</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Total Harga</th>
                        <th scope="col">Bayar</th>
                        <th scope="col">Kembali</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td rowspan="3">3123522001</td>
                        <td rowspan="3">Danang</td>
                        <td rowspan="3">2024-05-12</td>
                        <td class="bordered-cell" rowspan="3">12:04:23</td>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>

                    <tr>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>

                    <tr>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>

                    <tr>
                        <td>3123522003</td>
                        <td>Danang</td>
                        <td>2024-05-12</td>
                        <td>12:04:23</td>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>
        
                    <tr>
                        <td rowspan="2">3123522002</td>
                        <td rowspan="2">Danang</td>
                        <td rowspan="2">2024-05-12</td>
                        <td class="bordered-cell" rowspan="2">12:04:23</td>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>

                    <tr>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>
        
                    <tr>
                        <td>3123522003</td>
                        <td>Danang</td>
                        <td>2024-05-12</td>
                        <td>12:04:23</td>
                        <td>Indomie</td>
                        <td>30</td>
                        <td>Rp 30000</td>
                        <td>Rp 50000</td>
                        <td>Rp 20000</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>

</body>
</html>