<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stok Menipis</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/notif.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>

    <nav>
        <div class="nav_header">
        <div class="nav_logo">
            <a href="#">
            <img src="/images/logo.png" alt="logo" />
            </a>
            <span class="judul">VendorVault </span>
            <div class="separator"></div>
            <div class="notif"><a href="#"><i class='bx bxs-bell-ring bx-tada' ></i></a></div>
            <!-- <i class='bx bxs-bell-ring bx-tada' ></i> ri ini untuk tampilan kalo ada notif stok menipis -->
            <div class="dash"><a href="#">Dashboard</a></div>
            <div class="List"><a href="#">List Barang</a></div>
        </div>
        </div>
        <ul class="nav_links">
        <li>Supplier</li>
        <li><a href=""><i class='bx bx-log-out-circle bx-flip-horizontal'></i></a></li>
        </ul>
    </nav>
    
    <div class="card">

        <div class="card-body card-color">
            <h5 class="card-title">List Stok Menipis</h5>
            <div class="hr-horizontal"></div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama Barang</th>
                        <th scope="col">Jumlah Stok</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>2000</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>