@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --body-color: #EFEBE6;
    --text-color: #000;
    --horizontal: #FBFAF9;
    --navbar: #16222A;

    --sidebar-color: #FFFFFF;
    --hover-color: #c1c6c9;
    --toggle-back-color: #4A4848;
    --primary-color-light: #b7bdc0;
    --toggle-color: #DDD;
    --basic: #092834;
    --basic2: #E6E5E1;
    --opsi1: #A8C6C9;
    --opsi2: #C3E1E2;
    --opsi3: #A1C6C9;
    --opsi4: #8CB0B8;


    /*transisi*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    background-color: var(--body-color);
}

/* SIDEBAR */
.sidebar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #16222A;
    transition: var(--tran-05);

    border-right: 1.5px solid #000;; /* Warna border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan untuk efek 3D */
}

.sidebar.close {
    width: 85px;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: #fdfdfd; 
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
}


.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
    margin-left: -5px;
}

.sidebar li .icon,
.sidebar li .text{
    color: #fdfdfd;
    transition: var(--tran-02);
}

.sidebar .menu{
    margin-top: 25px;
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-size: 18px;
    font-weight: 600;
}
.header-text .profession{
    display: flex;
    font-size: 13px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: #2D3A43;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: #FDFDFD;
    font-size: 22px;
    transition: var(--tran-05);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

/* .sidebar .search-boxs{
    background-color: #16222A;;
}

.sidebar.close .search-boxs{
    background-color: #16222A;
    width: 90%;
}

.search-boxs input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #2D3A43;
    color: var(--text-color);
    color: #fdfdfd;
} */

.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--hover-color);
}
.sidebar.close li a:hover{
    width: 90%;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    position: relative;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* LIST BARANG */
.card{
    justify-content: center ;
    display: flex;
    position: relative;
    height: auto;
    left: 85px;
    width: calc(100% - 85px);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card-color {
    background-color: #2D3A43;
    border-radius: 10px;
    border: 1px solid black;
}

.card-body{
    padding: 20px;
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.5);
    min-width: 65%;
}

.card-body .card-title{
    color: #FDFDFD;
    font-size: 30px;
    font-weight: 500;
}

.label {
    display: inline-block; /* Membuat label menjadi inline block */
    width: 150px; /* Lebar untuk label agar sejajar */
}

.hr-horizontal{
    width: 100%;
    height: 1px;
    background-color: var(--horizontal);
    margin-block: 10px 25px;
}

.table {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: px solid black; /* Warna border tabel */
    border-radius: 20px; /* Sisi lengkung pada pinggir tabel */
    overflow: hidden;
}

.table thead th {
    background-color: #B3B9C0; /* Warna latar belakang thead */
    padding: 15px; /* Jarak dalam sel */
    text-align: center;
    border-bottom: 2px solid #E9E9E9; /* Border bawah di thead */
    border-bottom: 1px solid var(--text-color);
}

.table tbody tr {
    background-color: #fdfdfd; /* Warna latar belakang tbody */
    text-align: center;
}

.table tbody td {
    padding: 15px; /* Jarak dalam sel */
    border-bottom: 1px solid var(--text-color);
}

.table tbody tr:last-child td {
    border-bottom: none; /* Menghilangkan border di baris terakhir */
}


/* Memperbesar ukuran ikon di dalam tabel */
.table tbody td .edit i {
    font-size: 20px; /* Perbesar ukuran ikon */
    margin: 0 3px; /* Beri jarak horizontal antar ikon */
    color: #000; /* Warna default ikon */
    transition: color 0.3s, transform 0.3s; /* Animasi saat dihover */
}

/* Efek hover untuk ikon */
.table tbody td .edit:hover i {
    color: #5D6D77; /* Warna saat dihover */
    transform: scale(1.2); /* Perbesar ikon saat dihover */
}


.bordered-cell {
    border-right: 1px solid black; /* Ganti warna dan ketebalan sesuai kebutuhan */
}





.search-container {
    display: flex;
    justify-content: flex-end; /* ini yang diganti */
    align-items: center;
    margin-bottom: 20px; /* Jarak antara search bar dan tabel */
    text-align: center; /* Memusatkan search bar */
    width: 100%;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 30px;
    padding: 10px 20px;
    width: 35%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.search-box .icon {
    position: absolute;
    right: 20px; 
    color: #333; 
    font-size: 20px; 
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding-right: 35px;
    font-size: 16px;
}




.f-stok {
    position: relative;
    display: flex;
    flex-direction: column;
}

.jdl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
}
.jdl a {
    color: #FFD700; 
    text-decoration: none; 
    font-weight: 500;
    font-size: 16px; 
    margin-left: 10px;
}

.close-form {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#modalForm {
    position: fixed;
    top: 50%;
    left: calc(50% + 42.5px); 
    transform: translate(-50%, -50%);
    background-color: #2D3A43;
    padding: 20px;
    border-radius: 8px;
    width: calc(100% - 100px); 
    max-width: 900px;
    border: 1px solid black;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 222;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#modalForm.show {
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    #modalForm {
        width: 95%; 
        max-width: none;
    }
}
