<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Stock</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/stok.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>

    <nav>
        <div class="nav_header">
            <div class="nav_logo">
                <a href="#">
                    <img src="/images/logo.png" alt="logo" />
                </a>
                <span class="judul">VendorVault</span>
                <div class="separator"></div>
                <div class="notif"><a href="#"><i class='bx bx-bell'></i></a></div>
                <!-- <i class='bx bxs-bell-ring bx-tada' ></i> ri ini untuk tampilan kalo ada notif stok menipis -->
                <div class="dash"><a href="#">Dashboard</a></div>
                <div class="List"><a href="#">List Barang</a></div>
            </div>
        </div>
        <ul class="nav_links">
            <li>Supplier</li>
            <li><a href=""><i class='bx bx-log-out-circle bx-flip-horizontal'></i></a></li>
        </ul>
    </nav>
    
    
    <div class="card">

        <section class="cont-stok" id="modalForm">
            <form class="f-stok">
                <div class="jdl">
                    <span>Input Stok</span>
                    <a type="button" class="close-form" id="closeForm" title="Close">X</a>
                </div>
                <div class="hr-horizontal"></div>
                <div class="deks">
                    <input placeholder="Jumlah Stok"></input>
                </div>
                <div class="kirim">
                    <button href="">Simpan</button>
                </div>
            </form>
        </section>


        <div class="card-body card-color">
            <h5 class="card-title">List Barang</h5>
            <div class="hr-horizontal"></div>
            <div class="search-container">
                <div class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" id="searchInput" placeholder="Search.." />
                </div>
                
                <div class="info-barang">
                    <button><i class='bx bx-plus'></i>Tambah Barang</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama Barang</th>
                        <th scope="col">Harga Barang</th>
                        <th scope="col">Jumlah Stok</th>
                        <th scope="col">Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3123522001</td>
                        <td>Indomie</td>
                        <td>100000</td>
                        <td>2000</td>
                        <td><a class="edit"><i class='bx bx-edit'></i></a>
                            <a class="edit"><i class='bx bx-trash'></i></a>
                            <a class="edit plus-icon"><i class='bx bx-plus-circle'></i></a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascripts/stok.js"></script>

</body>
</html>