<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Barang</title>
    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/stylesheets/barang.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    />
  </head>
  <body>
    <div class="card">
      <section class="cont-stok">
        <form class="f-stok" method="post" action="/admin/store-users">
          <div class="jdl">
            <span>Tambah Admin</span>
          </div>
          <div class="hr-horizontal"></div>

          <div class="nama">
            <input placeholder="Usename" name="username" />
          </div>
          <div class="level_user">
            <input type="text" placeholder="level_user" name="level_user" />
          </div>
          <div class="password">
            <input type="text" placeholder="password" name="password" />
          </div>
          <div class="kirim">
            <button type="submit">Simpan</button>
          </div>
        </form>
      </section>
    </div>
  </body>
</html>
