<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Akun</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/form-akun.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>

    <!-- SIDEBAR -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">VendorVault</span>
                    <span class="profession">Effortless Commerce</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/dashboard">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/users">
                            <i class='bx bxs-user-account icon' ></i>
                            <span class="text nav-text">Users</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-collection icon' ></i>
                            <span class="text nav-text">Item Data</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/transaction-history">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Order Record</span>
                        </a>
                    </li>
                </ul>
                

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/graph">
                            <i class='bx bxs-doughnut-chart icon'></i>
                            <span class="text nav-text">Graph</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>
    
    
<!-- BAGIAN isi -->
    <div class="card">

        <div class="cont-stok">
            <form class="f-stok" action="/admin/store-users" method="post">
                <div class="jdl">
                    <span>Tambah Akun</span>
                </div>
                <div class="hr-horizontal"></div>

                <div class="nama">
                    <input placeholder="Username" name="username"></input>
                </div>
                <div class="Jumlah">
                    <input placeholder="Password" name="password"></input>
                </div>
                <div class="Role">
                    <input placeholder="Role" name="level_user"></input>
                </div>
                <div class="kirim">
                    <button type="submit">Tambah</button>
                </div>
            </form>
        </div>

    </div>

    <script src="/javascripts/script.js"></script>

</body>
</html>