<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <title>Cashier Dashboard</title>
  </head>
  <body>

    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">
            <img src="/images/logo.png" alt="logo" />
            <span>VendorVault </span>
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li>
          <a href="#">Dashboard</a>
          <a href="#">Kasir</a>
        </li>
        <li>
          <span>Cashier</span>
          <a href=""><i class='bx bx-log-out-circle bx-flip-horizontal'></i></a>
        </li>
      </ul>
    </nav>

    <header class="header__container">
      <div class="header__image">
        <img src="/images/cashier.png" alt="header" />
      </div>
      <div class="header__content">
        <h2>Cashier Dashboard</h2>
        <h1>
          Optimalkan Proses<br /><span class="h1__span-1">Penjualan Barang</span>
          <span class="h1__span-2">dengan Kami</span>
        </h1>
        <p>
          Dari pencatatan hingga pengisian stok, tim kami memastikan semua solusi 
          terintegrasi untuk memenuhi kebutuhan bisnis Anda. Mari bekerja sama 
          untuk membuat proses penjualan dan pengelolaan stok menjadi lebih efisien.
        </p>
        <div class="header__btn">
          <button class="btn">Learn More</button>
        </div>

        <div class="header__bar">
          Copyright © VendorVault. All rights reserved.
        </div>
      </div>
    </header>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/javascripts/dashboard.js"></script>
  </body>
</html>
