<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Barang</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/barang.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    
    <nav>
        <div class="nav_header">
        <div class="nav_logo">
            <a href="#">
            <img src="/images/logo.png" alt="logo" />
            </a>
            <span class="judul">VendorVault </span>
            <div class="separator"></div>
            <div class="notif"><a href="#"><i class='bx bx-bell'></i></a></div>
            <!-- <i class='bx bxs-bell-ring bx-tada' ></i> ri ini untuk tampilan kalo ada notif stok menipis -->
            <div class="dash"><a href="#">Dashboard</a></div>
            <div class="List"><a href="#">List Barang</a></div>
        </div>
        </div>
        <ul class="nav_links">
        <li>Supplier</li>
        <li><a href=""><i class='bx bx-log-out-circle bx-flip-horizontal'></i></a></li>
        </ul>
    </nav>
    
    <div class="card">

        <section class="cont-stok">
            <form class="f-stok">
                <div class="jdl">
                    <span>Input Barang</span>
                </div>
                <div class="hr-horizontal"></div>

                <div class="nama">
                    <input placeholder="Nama Barang"></input>
                </div>
                <div class="harga">
                    <input placeholder="Harga Barang"></input>
                </div>
                <div class="Jumlah">
                    <input placeholder="Jumlah Stok"></input>
                </div>
                <div class="kirim">
                    <button href="">Simpan</button>
                </div>
            </form>
        </section>
        
    </div>
</body>
</html>