<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota Pembelian</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>
    
<!-- BAGIAN isi -->
    <div class="card">

        <div class="nota">

            <div class="garis-nota">

                <div class="pertama">
                    <span class="name-toko">VendorVault</span>

                    <span class="name-moto">Empowering Your Business, One Transaction at a Time</span>

                    <span class="nomor">No. Telp 088213135658</span>

                    <span class="nomor-nota">102738912649012709849</span>
                </div>

                <div class="hr-dash"></div>

                <div class="kedua">
                    <div class="tanggal-kasir">
                        <span class="tgl">2024-08-02</span>
                        <span>Kasir</span>
                    </div>

                    <div class="waktu-kasir">
                        <span class="wkt">08:45:36</span>
                        <span>Danang</span>
                    </div>

                    <div class="jarak"></div>

                    <span class="id-trans">No. 03</span>
                </div>

                <div class="hr-dash"></div>

                <div class="ketiga">
                    <span class="nmb">1. Indomie</span>
                    <div class="barang">
                        <span class="jml">2 x 3,000</span>
                        <span class="hrg">Rp 6.000</span>
                    </div>

                    <span class="nmb">2. Sabu-sabu</span>
                    <div class="barang">
                        <span class="jml">1 x 20,000</span>
                        <span class="hrg">Rp 20.000</span>
                    </div>

                    <span class="nmb">3. Miras</span>
                    <div class="barang">
                        <span class="jml">5 x 2,000</span>
                        <span class="hrg">Rp 10.000</span>
                    </div>
                </div>

                <div class="hr-dash"></div>

                <div class="keempat">

                    <div class="total">
                        <span class="total-barang">Total Barang</span> 
                        <span class="nomor-total">: 8</span>
                    </div>

                    <div class="subtotal">
                        <span class="subt">Sub Total</span>
                        <span class="hrgs">Rp 36.000</span>
                    </div>

                    <div class="barang">
                        <span class="ttl">Total</span>
                        <span class="hrgsi">Rp 36.000</span>
                    </div>

                    <div class="barang">
                        <span class="byr">Bayar</span>
                        <span class="hrgs">Rp 40.000</span>
                    </div>

                    <div class="barang">
                        <span class="kmbl">Kembali</span>
                        <span class="hrgs">Rp 4.000</span>
                    </div>
                </div>

                <div class="trkh"><span>Terimakasih Telah Berbelanja</span></div>

            </div>

        </div>


    </div>

</body>
</html>